<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DisplayProductName</key>
    <string>DELL U3818DW (HiDPI, USB-C)</string>
    <key>DisplayVendorID</key>
    <integer>4268</integer>
    <key>DisplayProductID</key>
    <integer>41204</integer>
    <key>DisplayIsTV</key>
    <false />
    <key>scale-resolutions</key>
    <array>
        <data>AAAMgAAABTYAAAABACAAAA==</data> <!-- 3200x1334 (HiDPI) -->
        <data>AAAMgAAABTY=</data>             <!-- 3200x1334^2 --> 
        <data>AAAMAAAABQAAAAABACAAAA==</data> <!-- 3072x1280 (HiDPI) --> 
        <data>AAAYAAAACgA=</data>             <!-- 3072x1280^2 --> 
        <data>AAALQAAABLAAAAABACAAAA==</data> <!-- 2880x1200 (HiDPI) --> 
        <data>AAAWgAAACWA=</data>             <!-- 2880x1200^2 --> 
    </array>
    <key>target-default-ppmm</key>
    <real>6.76</real>
</dict>
</plist>
